<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.eTix">

        <!-- Splash screen (launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.eTix">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main V2 (ViewPager2 + BottomNav) -->
        <activity
            android:name=".ui.main.MainActivityV2"
            android:exported="false"
            android:windowAnimationStyle="@style/ActivitySlideAnim" />

        <!-- Auth -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />

        <!-- Ticket -->
        <activity
            android:name=".TicketDetailActivity"
            android:exported="false" />
        <activity
            android:name=".TicketEditActivity"
            android:exported="false" />

    </application>

</manifest>
